* {
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    background-color: rgb(68, 162, 240);
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: 200px;
    height: 50px;
}

.logo {
    width: 130px;  
}

/* MAIN */
.container {
    width: 98%;
    margin: auto;
}

.margin-top-bottom {
    margin-top: 15px;
    margin-bottom: 15px;
}

.blue-text {
    color:rgb(68, 162, 240)
}

/* TABLE */
table {
    margin-top: 15px;
    margin-bottom: 15px;
    border-collapse: collapse;
}

thead {
    background-color: rgb(78, 155, 228);
}

.bg-lightblue {
    background-color: lightblue;
}

.bg-white {
    background-color: white;
}

.bg-yellow {
    background-color: yellow;
}

/* FOOTER */
footer {
    width: 98%;
    margin: auto;
}

.pc-background {
    color: white;
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    width: 150px;
    height: 100px;
}

.dark-img-background {
    color: white;
    background-image: url(../img/graph.jpg);
    background-size: cover;
    width: 150px;
    height: 100px;
}

