* {
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(68, 162, 240);
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: 200px;
    height: 50px;
}

.logo {
    width: 130px;  
}

.container {
    width: 98%;
    margin: auto;
}

.introduzione {
    margin-top: 15px;
    margin-bottom: 15px;
}

.blue-text {
    color:rgb(68, 162, 240)
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

table {
    margin-top: 15px;
    margin-bottom: 15px;
    border-collapse: collapse;
}

thead {
    background-color: rgb(78, 155, 228);
}

.light-blue {
    background-color: lightblue;
}

.bg-yellow {
    background-color: yellow;
}